/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*
{
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}


li
{
    list-style: none;
}

a
{
    color: black;
    text-decoration: none;
}

img
{
    display: block;
    max-width: 100%;
    height: auto;
}

/* 
==================
    Containers
==================
*/

.container
{
    max-width: 75vw;
    margin: 0 auto;
}

/* 
==================
 Padding & Margin
==================
*/
.p-tb-20
{
    padding: 20px 0px
}

.m-r-20
{
    margin-right: 20px;
}
.m-b-10
{
    margin-bottom: 10px;
}
.m-b-20
{
    margin-bottom: 20px;
}
.m-20
{
    margin: 20px;
}

/* 
==================
    Layouts
==================
*/
.flex-space-between
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.burger
{
    display: none;
}
.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-col
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.grid-col
{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 20px;

}

/* 
==================
      Buttons
==================
*/

.btn,
.btn-light
{
    padding: 20px 50px;
    background: #ff5353; 
    color: #fff;
    -webkit-transition: background-color, color 0.5s ease-in-out;
    -o-transition: background-color, color 0.5s ease-in-out;
    transition: background-color, color 0.5s ease-in-out;
}
.btn-light
{
    background: #fff;
    color: #333;
}
.btn-light:hover
{
    background: #ff5353; 
    color: #fff;
}
.btn:hover
{
    background: #fff;
    color: #333;
}

/* 
==================
      Section
==================
*/

section
{
    margin-bottom: 150px;
}



/* 
==================
Paragraph Styling
==================
*/
.light-paragraph,
.light-paragraph-10,
.light-paragraph-15
{
    color: #6b6565;
    font-size: 20px;
}
.light-paragraph-15
{
    font-size: 15px;
}
.light-paragraph-10
{
    font-size: 10px;
}

/* 
==================
       Video
==================
*/

.video-wrapper,
.overlay,
.showcase-info
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-wrapper video
{
    min-width: 100%;
    min-height: 100%;
}

.overlay
{
    background: #333;
    opacity: 0.85;
    z-index: 1;
}
.showcase-info
{
    z-index: 3;
}

.showcase-info h4
{
    color: #ff5353;
    font-size: 40px;
}

/* 
==================
     Parallax
==================
*/

.parallax,
.layout
{
    height: 50vh;
    width: 90vw;
    margin: auto;
    margin-bottom: 50px;
}


.parallax
{
    position: relative;
    background: url('../img/bg-3.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -2;
}
.layout
{
    position: absolute;
    left: 0;
    top: 0;
    background:#333;
    z-index: 1;
    opacity: 0.5;
}

.section-title
{
    position: relative;
    padding: 10px 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #fff;
    z-index: 3;
}
.section-title::before
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    -webkit-box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
            box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
    z-index:-1;
}

.parallax 
{
    opacity: 0.2;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.parallax-view
{
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}
/* 
==================
   Upper Header
==================
*/
#upper-header
{
    background: #fef7f6;
}

#upper-header li
{
    font-size: 12px;
    padding: 10px 0px;

}
#upper-header li::after
{
    content: "|";
    padding: 0px 20px;
}

#upper-header li:last-child::after
{
    content: "";
    padding: 0;
}


#upper-header ul:last-child li:nth-child(3)::after
{
    content: "";
    padding-right: 0px;
 
}



/* 
==================
      Nav-Bar
==================
*/
#nav-bar
{
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
}

#nav-bar li
{
    position: -webkit-sticky;
    position: sticky;
    margin-right: 20px;
    font-weight: bold;
}

#nav-bar li:last-child
{
    margin-right: 0px;
}

#nav-bar ul:last-child li:last-child,
#nav-bar ul:last-child li:nth-child(2)
{
    position: relative;
}


#nav-bar ul:last-child div
{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ff5353;
    font-size: 8px;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* 
===================
Showcase & Discount
===================
*/

#showcase,
#discount 
{
    height: 100vh;
    text-align: center;
    position: relative;
}

#discount h1,
#showcase h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: white;
}

#discount 
{
    height: 70vh;
}

#discount .video-wrapper,
#discount .overlay,
#discount .showcase-info
{
    top: 0;
    height: 100%;
}


/* 
==================
   Most Polular
==================
*/

#popular .icons
{
    border: #ebeef0 solid 2px;
    padding: 20px 35px
}

#popular .container > .grid-col
{
    margin-bottom: 150px;
}

#popular .icons .light-paragraph
{
    font-size: 12px;
}

/* 
==================
       Blogs
==================
*/

#blogs h3
{
    font-size: 17px;
    text-align: start;
    padding-bottom: 30px;
    border-bottom: #a5a4a2 solid 1px;
}

#blogs .flex-col
{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 10px;
}

#blogs .flex-col .flex-space-between p:first-child
{
    margin-right: 10px;
}

#blogs .flex-col .date i
{
    color: red;
}
/* 
==================
    Follow Us
==================
*/

#follow
{
    margin-bottom: 50px;
}
#follow .grid-col img
{
    margin: auto;
}



/* 
==================
   Upper Footer
==================
*/

#footer
{
    background: #e9e1d8;
    margin-bottom: 0px;
}

#footer h5
{
    padding-top: 40px; 
    padding-bottom: 20px;
    text-align: start;
}
#footer li
{
    text-align: start;
    margin-bottom: 15px;
    font-size: 12px;
    color: #6b6565;
}
#footer li a:hover
{
    color: #ff5353;
}

#footer .btn,
#footer .btn-light
{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10%;
}
#footer .m-r-5
{
    margin-right: 5px;
}
#footer .online-contact .flex
{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#footer .app
{
    border-bottom: #a5a4a2 solid 1px;
    padding-bottom: 10px;
}
#footer .app h5
{
    padding-top: 40px; 
    padding-bottom: 0px;
}

#footer .flex-col
{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

#footer .online-shopping i
{
    color: #fff;
    margin: 5px;
    background-color: #333;
}

#footer .btn-light
{
    margin-left: 0px;
}
#footer .online-shopping i:hover
{
    color: #ff5353;
    background-color: #fff;
}
#footer .container
{
    border-bottom: #a5a4a2 solid 1px;
    padding-bottom: 50px;
}


/* 
==================
       Footer
==================
*/

footer span
{
    color: #ff5353;
}
footer p
{
    padding: 20px;
    background: #e9e1d8;
}


.photos
{
    opacity: 0.1;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.photos-in-view
{
    opacity: 1;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}